h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  @include breakpoint(large up) {
    font-weight: 400;
  }

}

//helper for font weight
//Open+Sans:400,700,800|Raleway:400,200,700
.font-light {
  font-weight: 200;
}
.font-weight-normal {
  font-weight: 400;
}
.font-bold {
  font-weight: 700;
}
.font-heavy {
  font-weight: 800;
}

.quiet {
  font-size: 80%;
}

.title-bar {
  box-shadow: 0 0 10px rgba(138, 138, 138, 0.3);

  .title-bar-right {
    flex: 2 1 0px;
  }

  .title-bar-title {
    font-weight: 800;
  }
}

// image size management
img.ios-icon {
    width: 300px;
    height: auto;
}
img.skill-icon {
  margin: 0 0.5rem;
  max-width: 4rem;
}

.swift-container .heart-icon {
    height: 0.9em;
    width: 0.9em;
    display: inline-block;
    margin-top: 0.2em;
}


// convert style to foundation 6
.skill-item  {
  @include xy-grid;
}
.button-primary {
  @include button;
}

.rails-reasons-subhead {
   visibility: collapse;
}

section.product-design {
  li.gradient {
     visibility: collapse;

  }
}

// content
// logo
.application-nav-logo {
 border-bottom:0;
 fill:#ed3e44;
 line-height:1;
 transition:fill 150ms ease-in-out
}
@media screen and (max-width: 890px) {
 .application-nav-logo {
  display:inline-block;
  text-align:center
 }
}
@media screen and (min-width: 890px) {
 .application-nav-logo {
  display:block;
  float:left;
  margin-left:3rem
 }
}
.logo-on-dark-background .application-nav-logo {
 fill:#fff
}
.quicky_forecast .application-nav-logo {
 fill:#5DB8F1
}
.fixed .application-nav-logo,.mobile-menu .application-nav-logo {
 fill:#ed3e44
}
.application-nav-logo .logo-ralph-and-wordmark {
 height:39px;
 width:160px
}
@media screen and (max-width: 890px) {
 .application-nav-logo .logo-ralph-and-wordmark {
  display:none
 }
}
.application-nav-logo .logo-ralph-only {
 height:50px;
 width:50px
}
@media screen and (min-width: 890px) {
 .application-nav-logo .logo-ralph-only {
  display:none
 }
}


.org-logo {
 display:none
}
@media screen and (min-width: 860px) {
 .org-logo {
  display:block;
  margin:2em auto 1em;
  width:5.5em
 }
}