    <div class="nav-bar">
    <!-- <a class="thoughtbot-logo" href="/"><img src="//thoughtbot.com/assets/design-sprint-guide/thoughtbot-logo-83adcf8386728dcd2e73fb268435a12f4ab8f84a30b44d5177e0cb6abc350d0f.svg" alt="Thoughtbot logo">
    </a>
     -->
     <div class="nav-menu">
        Menu
      </div>
      <div class="nav-items grid-x grid-padding-x small-up-12">
        <a class="main-link nav-link cell" href="/product-design-sprint/guide">The Product Design Sprint</a>
        <div class="sprint-schedule-wrapper grid-x grid-padding-x small-up-12">
          <a class="nav-link cell" href="/product-design-sprint/guide/prepare"><span class="phase"> Phase 0</span> Prepare</a>
          <a class="nav-link cell" href="/product-design-sprint/guide/understand"><span class="phase"> Phase 1</span> Understand</a>
          <a class="nav-link cell" href="/product-design-sprint/guide/diverge"><span class="phase"> Phase 2</span> Diverge</a>
          <a class="nav-link cell" href="/product-design-sprint/guide/converge"><span class="phase"> Phase 3</span> Converge</a>
          <a class="nav-link cell" href="/product-design-sprint/guide/prototype"><span class="phase"> Phase 4</span> Prototype</a>
          <a class="nav-link cell" href="/product-design-sprint/guide/test"><span class="phase"> Phase 5</span> Test</a>
      </div>
    </div>
  </div>
