<div class="playbook-cta">
	<!-- Thank you Penn State. https://www.flickr.com/photos/pennstatelive/10294104734/in/photolist-gFDYGo-b6KDY8-NvSUL-24KD4y4-e7tpLm-dtJrzU-23oxd3Z-SUCx1i-aDK5dr-4Ditu9-dZHpGq-TTHkKi-2PTCj-qBMKcW-52R2uv-7MrQjP-qnvZXN-R8Yo8z-o7Mkk1-79hirF-3RFkS-qE1hVA-oph6C2-7iCwxE-qnuf2d-HS4brE-95xs3X-qnvCm9-7yBgta-UaeuQE-dQe6PT-HS4b5h-aU7n3D-aokGjK-FYHm8u-dRqF2Y-79hiBx-pH5qNU-84uNGv-g5rZUE-eSEK8A-eQdX84-eVKKSe-qnvvHE-eVXax1-6WY2Uk-3CwYW-79hkkp-8eG5uT-nbXohf/ -->
	<img src="/images/Businesspeople_in_meeting.jpg" alt="Lyda">

	<div class="playbook-cta-content">
		<h3>Our experienced designers &amp; developers can help.</h3>
		<p>
		Small teams, focused sprints.
		</p>
		<a class="button" href="/hire-us">Get in touch</a>
	</div>
</div>